$text-color: #404041;
$font-size: 14px;
$content-width: 960px;
$link-color: #3d8ebd;
$primary-color: #4b5d6f;
$secondary-color: #d5d9de;

// Navbar
$navbar-bg: $primary-color;
$navbar-color: #fff;
$navbar-height: 3.5rem;

$page-padding: 0 1rem;


// Block
$block-icon-size: 40px;
$block-border-color: #999;

@mixin container() {
    padding: $page-padding;
    @media (min-width: $content-width) {
        width: $content-width;
        margin: 0 auto;
    }
}

$btn-primary-bg: $primary-color;
$btn-primary-text: #e3e3e4;

$btn-secondary-bg: $secondary-color;
$btn-secondary-text: #717177