.block-details {
    background: #fff;
    padding: 1rem 1rem 1rem 1.5rem;
    

    &__hash {
        max-width: 200px;
        word-wrap: break-word;
    }
    &__label {
        font-weight: 500;
    }
    &__value {
        font-weight: 300;
        word-wrap: break-word;
        margin-bottom: 10px;
    }
}
