@import "../sass/variables";

.transactions {
    margin-bottom: 32px;

    &--loading,
    &--empty {
        padding: 1rem;
    }
}
.txn {
    background-color: #fff;
    overflow: hidden;

    &:nth-child(even) {
        background-color: #ecf6ff;
    }
}
.txn__summary {
    cursor: pointer;
    display: flex;
    
    .icon-plus,
    .icon-minus {
        display: inline-block;
        padding: 0.8rem;
    }
    
    &__hash {
        flex: 12;
        padding: 10px 20px 10px 5px;
    }
    &__eth {
        flex: 4;
        padding: 10px 20px;
        text-align: right;
    }
    &__to {
        padding: 10px 5px 10px 10px;
    }
    &__axn {
        padding: 5px 10px 10px 5px;
        text-align: right;
    }
}

.txn__details {
    max-height: 0;
    overflow: hidden;
    padding: 0 2.3rem;
    transition: max-height 0.2s;

    &--active {
        max-height: 300px;
    }
}

.btn-load-more-txns {
    background-color: $btn-secondary-bg;
    border-radius: 2px;
    border: none;
    color: $btn-secondary-text;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    text-transform: uppercase;
}

.no-more-txns {
    text-align: center;
    margin: 1rem auto;
    font-style: italic;
    color: #999;
}