.transactions {
    margin-bottom: 32px;
}
.txn-summary {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0 5px 10px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    &__label,
    &__value {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 75%;
    }

    &__label {
        font-weight: 500;
        margin-right: 10px;
    }

    &__from {
        padding: 10px 5px 5px 10px;
    }
    &__eth {
        padding: 10px 10px 5px 5px;
        text-align: right;
    }
    &__to {
        padding: 10px 5px 10px 10px;
    }
    &__axn {
        padding: 5px 10px 10px 5px;
        text-align: right;
    }
}